In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn import linear_model

In [5]:
student = pd.read_csv('student_scores.csv')
student.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [6]:
# Визначення цільової змінної
y = student.Scores

In [7]:
# Видалення цільової змінної y з навчальних даних
student.drop(['Scores'], axis = 1, inplace=True)

In [8]:
# Для уникнення наявності текстових даних створюємо список, який містить імена столбців, що мають числовий тип даних
numeric_cols =[cname for cname in student.columns if student[cname].dtype in ['int64', 'float64']]
X =student[numeric_cols].copy()
X.head(10)

   Hours
0    2.5
1    5.1
2    3.2
3    8.5
4    3.5
5    1.5
6    9.2
7    5.5
8    8.3
9    2.7

In [9]:
X.shape

(25, 1)

In [10]:
# Cтворюємо об'єкт класа KFold
kf = KFold(n_splits=5, shuffle=True, random_state=42)
cnt = 1
for train_index, test_index in kf.split(X,y):
      print(f'Fold:{cnt}, Train set: {len(train_index)}, Test set:{len(test_index)}')
      cnt += 1

Fold:1, Train set: 20, Test set:5
Fold:2, Train set: 20, Test set:5
Fold:3, Train set: 20, Test set:5
Fold:4, Train set: 20, Test set:5
Fold:5, Train set: 20, Test set:5

In [11]:
# Виконуємо К -кратну кросс-валідацію 
score = cross_val_score(linear_model.LinearRegression(), X, y, cv= kf, scoring='r2')

In [12]:
print('Оцінка по кожному фолду:', score)

Оцінка по кожному фолду: [0.96780555 0.74949743 0.90881545 0.94043752 0.95414507]

In [13]:
print('Середня оцінка:', score.mean())

Середня оцінка: 0.9041402050111291

In [14]:
# Розраховуємо корінь від'ємної середньоквадратичної похибки 
def rmse(score):
    rmse = np.sqrt(-score)
    print(f'rmse= {"{:.2f}".format(rmse)}')

In [17]:
score = cross_val_score(linear_model.LinearRegression(), X, y, cv= kf, scoring="neg_mean_squared_error")
print(f"Від'ємна cередньоквадратична похибка по кожному фолду : {score}")
rmse(score.mean())

Від'ємна cередньоквадратична похибка по кожному фолду : [-18.94321172 -25.59134275 -65.56533746 -31.60146724 -29.95977935]
rmse= 5.86

### *Обгрунтування вибору методу крос-валідації*

 *Вибір методу К-кратної крос-валідації зумовлений невеликим об'ємом даних для навчання та оцінки моделі.  
     В таких умовах використання методу К-кратної крос-валідації дає нам можливість отримати більш достовірні оцінки продуктивності моделі та уникнути перенавчання нашаої моделі.*