In [15]:
import pandas as pd

### *1. Cтворення DataFrame.*

In [16]:
df = pd.DataFrame ({
    "Ім'я": ['Олександр', 'Ірина', 'Володимир', 'Людмила', 'Андрій', 'Ольга', 'Михайло', 'Наталія', 'Юрій', 'Тетяна',
                       'Віктор', 'Інна', 'Сергій', 'Марія', 'Петро'],
    'Прізвище': ['Ковальчук', 'Шевченко', 'Петренко', 'Коваленко', 'Григоренко','Сидоренко', 'Бойко', 'Гончарук', 'Мельник', 
                 'Романенко', 'Волошин', 'Кравченко', 'Лисенко', 'Шаповаленко', 'Даниленко'],
    'Середній бал': [3.7, 3.0, 5.0, 4.2, 4.0, 3.7, 3.0, 4.5, 4.0, 3.3, 3.6, 4.1, 5.0, 3.2, 4.4],
    'Оцінка за поточний екзамен': [4, 2, 5, 3, 3, 5, 2, 4, 4, 2, 5, 3, 4, 4, 5],
    'Кількість спроб здачі екзамену': [1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1],
})
df

,Ім'я,Прізвище,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі екзамену
0,Олександр,Ковальчук,3.7,4,1
1,Ірина,Шевченко,3.0,2,1
2,Володимир,Петренко,5.0,5,1
3,Людмила,Коваленко,4.2,3,2
4,Андрій,Григоренко,4.0,3,1
5,Ольга,Сидоренко,3.7,5,1
6,Михайло,Бойко,3.0,2,1
7,Наталія,Гончарук,4.5,4,1
8,Юрій,Мельник,4.0,4,2
9,Тетяна,Романенко,3.3,2,1
10,Віктор,Волошин,3.6,5,2
11,Інна,Кравченко,4.1,3,1
12,Сергій,Лисенко,5.0,4,1
13,Марія,Шаповаленко,3.2,4,1
14,Петро,Даниленко,4.4,5,1

In [17]:
df.shape

(15, 5)

### *2. Додавання стовпчика.*

In [18]:
df['Допуск студента на наступний курс'] = ['Допущено' if df['Оцінка за поточний екзамен'][r] >= 3 
                                          else 'Недопущено' for r in range(len(df))]
df

,Ім'я,Прізвище,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі екзамену,Допуск студента на наступний курс
0,Олександр,Ковальчук,3.7,4,1,Допущено
1,Ірина,Шевченко,3.0,2,1,Недопущено
2,Володимир,Петренко,5.0,5,1,Допущено
3,Людмила,Коваленко,4.2,3,2,Допущено
4,Андрій,Григоренко,4.0,3,1,Допущено
5,Ольга,Сидоренко,3.7,5,1,Допущено
6,Михайло,Бойко,3.0,2,1,Недопущено
7,Наталія,Гончарук,4.5,4,1,Допущено
8,Юрій,Мельник,4.0,4,2,Допущено
9,Тетяна,Романенко,3.3,2,1,Недопущено
10,Віктор,Волошин,3.6,5,2,Допущено
11,Інна,Кравченко,4.1,3,1,Допущено
12,Сергій,Лисенко,5.0,4,1,Допущено
13,Марія,Шаповаленко,3.2,4,1,Допущено
14,Петро,Даниленко,4.4,5,1,Допущено

### *3. Розрахунок мінімального, максимального, середнього показника та медіани по стовпчику 'Середній бал'.*

In [19]:
min_score = df['Середній бал'].min()
print('Мінімальний середній бал:', round(min_score, 1))

Мінімальний середній бал: 3.0

In [20]:
max_score = df['Середній бал'].max()
print('Максимальний середній бал:', round(max_score, 1))

Максимальний середній бал: 5.0

In [21]:
avg_score = df['Середній бал'].mean()
print('Cереднє значення середнього балу:', round(avg_score, 1))

Cереднє значення середнього балу: 3.9

In [22]:
median_score = df['Середній бал'].median()
print ('Медіана:', median_score)

Медіана: 4.0

### 4. *Кількість студентів, що здали екзамен з першого разу.*

In [23]:
first_atempt = 0
for i in range(len(df)):
    if df['Оцінка за поточний екзамен'][i] > 2 and df['Кількість спроб здачі екзамену'][i] == 1:
        first_atempt +=1
print ('Кількість студентів, що здали екзамен з першого раза:', first_atempt)

Кількість студентів, що здали екзамен з першого раза: 9

### *5. Створення серії.*

In [24]:
rating = df ['Оцінка за поточний екзамен']
rating

0     4
1     2
2     5
3     3
4     3
5     5
6     2
7     4
8     4
9     2
10    5
11    3
12    4
13    4
14    5
Name: Оцінка за поточний екзамен, dtype: int64